<html>
    <link rel="stylesheet" type="text/css" href="css/mi.css"> 
<body>
  <div class="navbar" > <a href="showusers.php">listado de usuarios creados</a></div>
<form method="POST" action="creacion.php" class="form">
    nombre:
    <input type="text" name="nombre">
    telefono:
    <input type="number" name="numero">
    Email:
    <input type="email" name="email">
    codigo:
    <input type="text" name="code">
    <input type="submit" value="enviar" class="button">









</form>







</body>











</html>