<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Esquema de datos</title>
</head>
<body>
  <div class="container">
    <canvas id="myChart"></canvas>
  </div>

  <script>

    var datos =  JSON.parse({{(datos|json_encode|raw)}});
    console.log(datos)
    var data =  []
    var i;
    for (i = 0; i < datos.length; i++) { 
      data.push(parseFloat(datos[i].tiempo).toFixed(3))
    }
    console.log(data)

    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'],
        datasets:[{
          label:'Hora de entrada',
          data: data,
          backgroundColor:[
            '#009bff',
            '#009bff',
            '#009bff',
            '#009bff',
            '#009bff'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'CONTROL DE HORAS DE ENTRADA',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
  </script>
</body>
<script>


</script>
</html>
